---
layout: main
---

{% for post in paginator.posts %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
    
      {% if post.img %}
      <div>
      	<img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}" width="400" height="750" style="opacity: 0.5">
      {% else %}
      <img id="{{post.title}}_img" width="400" height="750" style="opacity: 0.5">
	        <script>
	      	var ran = Math.floor(Math.random()*10);
	      	
	      	if(ran%3==0){
	      		 document.getElementById("{{post.title}}_img").src="/assets/img/alaska.jpg";
	      	} else if(ran%3==1){
	      		 document.getElementById("{{post.title}}_img").src="/assets/img/nevada.jpg";
	      	} else {
	      		 document.getElementById("{{post.title}}_img").src="/assets/img/bora-bora.jpg";
	      	}
	      </script>
       </div>
      {% endif %}
    </a>
    <div class="chapter_inner">
      <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>
      <h3 class="chapter_title">{{post.title}}</h3>
    </div>
  </div>
{% endfor %}