

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="../">
        <strong>SEHWAN</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contact">CONTACT</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://github.com/sehwan93/sehwan93.github.io" class="nav-link border border-light rounded waves-effect waves-light"
              target="_blank">
              <i class="fa fa-github mr-2"></i>SEHWAN GitHub
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
